<ion-content>
  <div class="container">
    <div class="head">
      <div id="menu">
        <ion-menu-button></ion-menu-button>
      </div>
        <ion-text class="title">Boletos comprados</ion-text>
    </div>
  
    <div class="content">
      <ion-grid>
        <ion-row style="margin-top: 5px;">
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-searchbar (ionInput)="onSearchChange($event)" clearInput class="search" show-clear-button="focus" placeholder="Buscar por destino.."
            ></ion-searchbar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
  
            <ion-list>
              <ion-item-sliding  *ngFor="let boleto of boletosConInfoAdicional">
                <ion-item class="itemProd" id="open-modal" >
                  <div class="imgIcon">
                    <ion-img src="assets/logoApp.png" slot="start"></ion-img>
                  </div>
                  <ion-label>
                    <h2>{{ boleto.nombreRuta }}</h2>
                    <p>{{ boleto.marcaChasisBus }} {{ boleto.nombreCoop }}</p>
                    <p>{{ boleto.fechaCompraBol }}</p>
                  </ion-label>
                 
                </ion-item>
                <div>
                  <ion-modal #modal trigger="open-modal" [showBackdrop]="showBackdrop">
                    <ng-template >
                      <ion-content>
              
                        <div class="modal">
                          <div class="headModal">
                            <ion-text class="titleModal">QR</ion-text>
                          </div>
                          <ion-item style="margin-top: 18px;">
                            <qrcode [qrdata]="qrCodeValue" [width]="190" [errorCorrectionLevel]="'M'"></qrcode>
                          </ion-item>
                          <ion-button (click)="closeModal()" class="btnModal">Confirmar</ion-button>             
                        </div>
                        <ion-alert class="custom-alert"></ion-alert>            
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </div>
              </ion-item-sliding>          
            </ion-list>          
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>
  </ion-content>