<ion-content>
  <div class="container">

    <div class="head">
      <ion-title>Iniciar Sesión</ion-title>
    </div>

    <div class="logo">
      <img src="assets/logoApp.png" alt="Logo" >
    </div>

    <div class="form-container">
      <ion-grid>
        
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input clearInput type="text" [(ngModel)]="username"  placeholder="Ingrese nombre de usuario"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input clearInput type="password" [(ngModel)]="password" placeholder="Ingrese contraseña"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button (click)="ingresar()" >Ingresar</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="register_user()" >Registrarse</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </div>
  </div>
</ion-content>

