<ion-menu contentId="main-content">
<ion-content>
  <div class="head">
    <img src="assets/Vector.svg" alt="img">
    <ion-title>Nombre de Usuario</ion-title>
    <ion-title>Rol de Usuario</ion-title>
  </div>
  <ion-list>
    <ion-item>Inicio</ion-item>
    <ion-item>Boletos Comprados</ion-item>
    <ion-item>Comprar Boletos</ion-item>
    <ion-item>Destinos</ion-item>
    <ion-item>Perfil</ion-item>
    <ion-item>Cerrar Sesion</ion-item>
  </ion-list>
</ion-content>

</ion-menu>
<div class="container" id="main-content">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
</div>