<ion-content >
  <div class="container">
    <div class="head">
      <ion-title>Registro de Usuario</ion-title>
    </div>

    <div class="logo">
      <img src="assets/uploadphoto.png" alt="Logo" >
    </div>

    <div class="form-register">
      <ion-grid>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input clearInput type="text" placeholder="Nombre"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input clearInput type="text" placeholder="Apellido"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input clearInput type="tel" placeholder="Teléfono"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input clearInput type="email" placeholder="Correo Electrónico"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input clearInput type="password" placeholder="Contraseña"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input clearInput type="password" placeholder="Confirmar contraseña"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button>Registrar</ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </div>
</ion-content>
