<ion-menu class="menu"  contentId="main-content" (ionWillOpen)="onMenuOpen()">
  <ion-content class="opciones" >
    <div class="container">
        <div class="dataUser">

          <ion-grid>
            <ion-row>
              <ion-col>
                <img class="imgUser" src="assets/icon-user.png" alt="img">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text>{{namesUser}}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text>{{rolUser}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>
      <div class="paginas" *ngFor="let item of items" (click)="onMenuItemClick(item)">
        <hr>
          <div class="logo1">
            <img [src]="item.image" alt="Imagen">
          </div>&nbsp;<div class="nombre">{{item.name}}</div>
      </div>
      <br>
      <hr>
    </div>
  </ion-content>
  </ion-menu>
  <div id="main-content">
        <ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
  </div>