<ion-menu  contentId="main-content">
  <ion-content class="opciones" >
    <div class="container">
        <div class="logo">
          <img src="assets/icon-user.png" alt="img">
        </div>
        <div class="head">
        <ion-title>Nombre de Usuario</ion-title>
        <ion-title>Rol de Usuario</ion-title>
      </div>
      <ion-menu-toggle autoHide="true">
        <div class="paginas" *ngFor="let item of items"
        [routerLink]="item.redirect">
         <hr>
           <div class="logo1">
             <img [src]="item.image" alt="Imagen">
           </div>&nbsp;<div class="nombre">{{item.name}}</div>
       </div>
      </ion-menu-toggle>
      <br>
      <hr>
    </div>
  </ion-content>
  </ion-menu>
