<ion-content >
<div class="container">
  <div class="head">
    <div id="menu">
      <ion-menu-button></ion-menu-button>
    </div>
      <ion-text class="title">Perfil de usuario</ion-text>
  </div>

  <div class="logo">
    <img src="assets/icon-user.png" alt="Logo" >
  </div>

  <div class="contentUser">

    <ion-grid style="--ion-grid-padding: 0;">
      <ion-row style="margin-bottom: 15px;">
        <ion-col size="auto">
            <ng-container *ngIf="!isEditingNom; else editingTemplate1">
              <ion-text class="texto">Nombres: {{ names }}</ion-text>
            </ng-container>
            <ng-template #editingTemplate1>
              <ion-input class="texto" [(ngModel)]="names "></ion-input>
            </ng-template>
        </ion-col>
        <ion-col  class="custom-col">
          <ion-text (click)="cambiarEstado1()" style="cursor: pointer; text-decoration: underline;
                    color: #063940;">{{ isEditingNom ? 'Guardar' : 'Editar' }}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 15px;">
        <ion-col size="auto">
            <ng-container *ngIf="!isEditingUser; else editingTemplate2">
              <ion-text class="texto">usuario: {{ username }}</ion-text>
            </ng-container>
            <ng-template #editingTemplate2>
              <ion-input class="texto" [(ngModel)]="username "></ion-input>
            </ng-template>
        </ion-col>
        <ion-col  class="custom-col">
          <ion-text (click)="cambiarEstado2()" style="cursor: pointer; text-decoration: underline;
                    color: #063940;">{{ isEditingUser ? 'Guardar' : 'Editar' }}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 15px;">
        <ion-col size="auto">
            <ng-container *ngIf="!isEditingPhone; else editingTemplate3">
              <ion-text class="texto">Telefono: {{ phone }}</ion-text>
            </ng-container>
            <ng-template #editingTemplate3>
              <ion-input class="texto" [(ngModel)]="phone"></ion-input>
            </ng-template>
        </ion-col>
        <ion-col  class="custom-col">
          <ion-text (click)="cambiarEstado3()" style="cursor: pointer; text-decoration: underline;
                    color: #063940;">{{ isEditingPhone ? 'Guardar' : 'Editar' }}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 15px;">
        <ion-col size="auto">
            <ng-container *ngIf="!isEditingEmail; else editingTemplate4">
              <ion-text class="texto">email: {{ email }}</ion-text>
            </ng-container>
            <ng-template #editingTemplate4>
              <ion-input class="texto" [(ngModel)]="email"></ion-input>
            </ng-template>
        </ion-col>
        <ion-col  class="custom-col">
          <ion-text (click)="cambiarEstado4()" style="cursor: pointer; text-decoration: underline;
                    color: #063940;">{{ isEditingEmail ? 'Guardar' : 'Editar' }}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col >
          <ion-button (click)="changePassword()" >Cambiar contraseña</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</div>  
</ion-content>
