<ion-content >
<div class="container">
  <div class="head">
    <ion-text class="title">Perfil de usuario</ion-text>
  </div>

  <div class="logo">
    <img src="assets/icon-user.png" alt="Logo" >
  </div>

  <div class="contentUser">

    <ion-grid style="--ion-grid-padding: 0;">
      <ion-row style="margin-bottom: 15px;">
        <ion-col size="auto">
          <ion-text style="color: black; width: auto; ">Nombres: {{ names }}</ion-text>
        </ion-col>
        <ion-col  class="custom-col">
          <ion-text (click)="editNames()" style="cursor: pointer; text-decoration: underline;
                    color: #063940;">editar</ion-text>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 15px;">
        <ion-col size="auto" >
          <ion-text style="color: black; width: auto;">Nombre de usuario: {{ username }}</ion-text>
        </ion-col>
        <ion-col class="custom-col">
          <ion-text (click)="editUsername()" style="cursor: pointer; text-decoration: underline;
                    color: #063940;">editar</ion-text>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 15px;">
        <ion-col size="auto">
          <ion-text style="color: black; width: auto;">Teléfono: {{ phone }}</ion-text>
        </ion-col>
        <ion-col class="custom-col">
          <ion-text (click)="editPhone()" style="cursor: pointer; text-decoration: underline;
                    color: #063940;;">editar</ion-text>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 30px;">
        <ion-col size="auto">
          <ion-text style="color: black; width: auto;">Correo Electrónico: {{ email }}</ion-text>
        </ion-col>
        <ion-col class="custom-col">
          <ion-text (click)="editEmail()" style="cursor: pointer; text-decoration: underline;
          color: #063940;">editar</ion-text>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col >
          <ion-button (click)="changePassword()" >Cambiar contraseña</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</div>  
</ion-content>
